apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: flower-app-deployment 
  labels:
    first: app 
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels: 
        app: web 
    spec: 
      containers:
        - name: flower-cont 
          image: muralisocial123/sre-training-web:v1.1.0
          ports: 
            - containerPort: 3015
    
    