apiVersion: apps/v1 
kind: Deployment 
metadata:
  name: flip-deployment 
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: web 
  template:
    metadata: 
      labels:
        app: web 
    spec: 
      containers:
        - name: flip-cont 
          image: muralisocial123/clahan-app-web:v3.1.0
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "250Mi"
            limits:
              cpu: "200m"
              memory: "450Mi"
--- 
apiVersion: v1    
kind: Service 
metadata: 
  name: flip-deployment-svc 
spec: 
  selector: 
    app: web 
  ports: 
    - port: 81 
      targetPort: 80 
      protocol: TCP 
  type: LoadBalancer 
--- 
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: flip-autoscaling-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flip-deployment
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 5

        
                   
