apiVersion: apps/v1 
kind: Deployment
metadata:
  name: secret-deployment 
spec: 
  replicas: 3 
  selector:
    matchLabels:
      app: web 
  template: 
    metadata:
      labels:
        app: web 
    spec: 
      containers:
        - name: secret-cont 
          image: muralisocial123/web-app-java:v1.1.0
          ports:
            - containerPort: 8080 
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD    
